<?xml version="1.0"?>

<robot name="base" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- base_footprint is a fictitious link(frame) that is on the ground
         right below base_link origin, navigation stack depends on this frame -->

    <!-- The base xacro macro -->
    <macro name="base" params="color">
        <link name="base_footprint">
            <visual>
              <origin xyz="0 0 0" rpy="0 0 0" />
              <geometry>
                  <box size="0.05 0.05 0.001" />
              </geometry>
              <material name="TransparentGreen" />
            </visual>
        </link>

        <link name="base_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="${base_size_x} ${base_size_y} ${base_size_z}" />
                </geometry>
                <material name="${color}" />
          </visual>
          <collision>
              <origin xyz="0 0 0" rpy="0 0 0" />
              <geometry>
                  <box size="${base_size_x} ${base_size_y} ${base_size_z}" />
              </geometry>
            </collision>
        </link>

        <joint name="base_joint" type="fixed">
            <!-- Note: The wheels extend radius - z offset below the battery box so we must offset the base_joint by that same
            amount in order for the robot to reset at 0 offset on the Z axis
            -->
            <origin xyz="0 0 ${base_offset_z}" rpy="0 0 0" />
            <parent link="base_footprint"/>
            <child link="base_link" />
        </joint>
    </macro>

    <macro name="wheel" params="parent suffix reflect color">
        <!-- Note: type is fixed here.  tried continuous but then the link is lost.  not sure why though -->
        <joint name="${parent}_${suffix}_wheel_joint" type="fixed">
            <axis xyz="0 0 1" />
            <limit effort="100" velocity="100"/>
            <safety_controller k_velocity="10" />
            <origin xyz="${wheel_offset_x} ${reflect*wheel_offset_y} ${wheel_offset_z}" rpy="${reflect*PI/2} 0 0" />
            <parent link="${parent}_link"/>
            <child link="${suffix}_wheel_link"/>
        </joint>

        <link name="${suffix}_wheel_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_length}"/>
                </geometry>
                <material name="${color}" />
            </visual>
        </link>

    </macro>

    <wheel parent="base" suffix="left" reflect="1" color="Orange"/>
    <wheel parent="base" suffix="right" reflect="-1" color="Orange"/>

</robot>