<launch>

    <!-- Start arlobot minimal node -->
    <include file="$(find arlobot_bringup)/launch/arlobot_minimal.launch" />

    <!--
    <include file="$(find arlobot_bringup)/launch/odom_ekf.launch" />
    -->

    <!-- Start teleop node -->
    <include file="$(find arlobot_teleop)/launch/teleop.launch"/>

    <!-- Start rviz -->
    <node name="modelvisualisation" pkg="rviz" type="rviz" output="screen" args="-d $(find arlobot_bringup)/nav_ekf.rviz" />


</launch>
