<launch>
  <!-- Make sure we are not using simulated time -->
  <!--
  <param name="/use_sim_time" value="false" />
  -->

  <!-- Set an argument to point to the URDF/Xacro model of our robot -->
  <!--
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find arlobot_description)/urdf/arlobot.main.urdf.xacro'" />
  -->

  <!-- Load the URDF model onto the ROS parameter server -->
  <!--
  <param name="robot_description" command="$(arg urdf_file)" />
  -->

  <!-- Bring up the arbotix driver with a configuration file appropriate to the robot -->
  <!--
  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" clear_params="true" output="screen">
      <rosparam file="$(find arlobot_bringup)/config/arbotix.yaml" command="load" />
      <param name="sim" value="true"/>
  </node>
  -->

  <!-- Fire up the robot state publisher -->
  <!--
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="publish_frequency" type="double" value="20.0" />
  </node>
  -->

  <include file="$(find arlobot_bringup)/launch/includes/robot.launch.xml"/>

  <!-- Define argument 'simulated' to control which nodes are instantiated -->
  <arg name="simulated" value="true"/>

  <node unless="$(arg simulated)" pkg="arlobot_bringup" name="halnode" type="halnode.py" output="screen">
  </node>

  <!-- Define parameter 'simulated' to control instantiation of drive node
    Note: parameter must be defined in outside the scope of the drive node factory
    so that it can be used as the basis for instantiation
  -->
  <param name="simulated" value="$(arg simulated)"/>

  <node pkg="arlobot_bringup" name="drivenode" type="drivenodefactory.py" output="screen">
  </node>

</launch>
