<launch>

    <arg name="simulated" default="false"/>

    <!--
    This is the root launch file to launch the arlobot robot.  It contains:
        - robot.launch.xml : launches nodes related to the robot model
        - mobile_base.launch.xml : launches nodes related to robot base (real or simulated)
    -->

    <param name="/use_sim_time" value="False"/>

    <include file="$(find arlobot_bringup)/launch/includes/robot.launch.xml"/>

    <include file="$(find arlobot_bringup)/launch/includes/mobile_base.launch.xml">
        <arg name="simulated" value="$(arg simulated)"/>
	<!-- There is a problem with the rosparam tag below.  ROS writes this on start up:
		WARN: unrecognized 'rosparam' tag in <include> tag
	     I don't know what the problem is though.
	-->
        <rosparam command="load" file="$(find arlobot_bringup)/config/arlobot.yaml" />
    </include>


</launch>
