<launch>

    <arg name="model" default="" />

    <param name="robot_description" command="cat $(arg model)" />

    <node
        pkg="joint_state_publisher"
        name="joint_state_publisher"
        type="joint_state_publisher">

        <param name="use_gui" value="TRUE" />

    </node>

    <node
        pkg="robot_state_publisher"
        name="robot_state_publisher"
        type="state_publisher"/>

    <node
        pkg="rviz"
        name="rviz"
        type="rviz"
        args="" />


</launch>